.setting-header {
  padding: var(--horizontal-space);

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  font-weight: 600;
}

.setting-header__column:first-child {
  margin-right: auto;
}

.setting-header__column:last-child {
  margin-left: auto;
}

.main-setting {
  border-bottom: var(--main-border);
  padding-bottom: 10px;
}

.setting-component {
  display: flex;
  justify-content: space-between;

  padding: 25px 0px;
  border-bottom: 1px solid rgba(123, 123, 123, 0.1);
}

.setting-component:last-child {
  border: none;
}

.setting-component-column {
  display: flex;
  font-size: 22px;
}

.setting-component-column i {
  width: 20px;
  margin-right: 25px;
}

.setting-component__subtitle {
  color: var(--main-textcolor);
}

.setting-component-column .badge {
  width: 20px;
  height: 20px;
  font-size: 12px;
  margin-left: 5px;
}
