main {
  padding: 0px 25px;
}

.best-album__header {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 20px;
}

.best-album-post {
  display: flex;
  align-items: center;
  margin-bottom: 35px;
}

.best-album__cover img {
  width: 200px;
  height: 200px;
  border-radius: 10px;
  margin-right: 20px;
}

.best-album__data {
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.best-album__title {
  font-size: 30px;
}

.best-album__artist {
  font-size: 18px;
  color: rgba(0, 0, 0, 0.3);
}

.star-rating i {
  color: #ffce33;
}
i.no-star {
  color: lightgray;
}

.album-genre {
  display: flex;
}

.album-genre div {
  background-color: rgba(160, 160, 160, 0.1);
  padding: 7px 20px;
  margin-right: 10px;
  border-radius: 5px;
}

.btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn__bookmark {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffce33;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  padding: 10px;
}

.btn__booknow {
  background-color: black;
  color: white;
  border-radius: 5px;
  padding: 12px 25px;
}
