body {
  height: 100vh;
  background-color: tomato;
  display: flex;
  justify-content: center;
  align-items: center;
}

.parent {
  height: 400px;
  width: 400px;
  background-color: wheat;
  border: solid 4px black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.child1 {
  margin: 25px 0px;
  height: 100px;
  width: 100px;
  background-color: teal;
  border: 5px solid white;
}

.child2 {
  height: 100px;
  width: 300px;
  background-color: teal;
  border: 5px dashed white;
}
