.screen-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--horizontal-space);
  margin-bottom: 15px;
}

.screen-header__icon {
  position: relative;
}

.screen-header__title {
  font-size: 35px;
  font-weight: 600;
}

.screen-header__icon span {
  margin-left: 20px;
}

.friends-screen {
  padding: 0px var(--horizontal-space);
}
